.hello{
    background-color: #db5e5ea2;
    text-align: center ;
    align-items: center ;
    margin: 50px;
    padding-top:50px ;
    padding-bottom:50px ;

}

.qr{
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
}

#speed{
    background-color:blue;
   
}
#logos {
  display: inline-block;
  position: relative;
}
#js {
  width: 350px;
  height: 220px;
  border-radius: 100%;
  border: 20px solid purple;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
  transform: rotate(45deg);
  display: inline-block;
}


.map-container-3{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container-3 iframe{
  left:0;
  top:0;
  height:30%;
  width:40%;
  position:absolute;
  }
  
textarea { 
    font-size: 20px; 
  }

.img1{
    max-width:380px;
}
.input1[type=file]{
padding:10px;
max-width:380px;

 }

 
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html,body{
  margin:0;
  height:100vh;
  font-family: 'Montserrat', sans-serif;
}
.container-social{
  padding-top:10px;
  min-height:100%;
  text-align:center;
  background: linear-gradient(0deg, #a92323, #641b1b);
  
}

.headline{
  text-align:center;
 
}
.headline  h1{
    font-size:35px;
    font-family: 'Montserrat', sans-serif;
    color:#fff;
  }

.social-buttons{
  display:inline-block;
  background: rgba(256,256,256,0.5);
  padding:20px;
  padding-bottom: 5px;
  border-radius:10px;
  text-align:center;
  margin:20px 10px;
  box-shadow: 0px 0px 32px -7px #00199f;
}
  
/* Helper class to divide the icons */
.social-margin {
  margin-right: 15px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.social-icon {
  margin-bottom: 15px;
   box-sizing: border-box;
  -moz-border-radius: 138px;
  -webkit-border-radius: 138px;
  border-radius: 138px;
  border: 5px solid;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 1px;
  padding-top: 11px;
  transition: all 0.5s;
}
.social-icon:hover {
    transform: rotate(360deg)scale(1.3);
  }
  /* Facebook Button Styling */
 .facebook {
    font-size: 22px;
    padding-top: 9px;
    border-color: #3b5998;
    background-color: #3b5998;
    color: #ffffff;
   
  }
  .facebook:hover {
    background-color: #ffffff;
    color: #3b5998;
  }
  /* Twitter Button Styling */
.twitter {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 2px;
    border-color: #55acee;
    background-color: #55acee;
    color: #ffffff;
    
  }
  .twitter:hover {
    background-color: #ffffff;
    color: #55acee;
  }
  /* Google+ Button Styling */
  .google-plus {
    font-size: 22px;
    padding-top: 9px;
    padding-left: 2px;
    background-color: #dd4b39;
    color: #ffffff;
    border-color: #dd4b39;
    
  }
  .google-plus :hover {
    background-color: #ffffff;
    color: #dd4b39;
  }
  /* Linkedin Button Styling */
  .linkedin {
    font-size: 24px;
    padding-top: 8px;
    padding-left: 1px;
    background-color: #0976b4;
    color: #ffffff;
    border-color: #0976b4;
    
  }
  .linkedin :hover {
    background-color: #ffffff;
    color: #0976b4;
  }
  /* Pinterest Button Styling */
.pinterest {
    font-size: 22px;
    padding-top: 9px;
    background-color:  #cb2027;
    color: #ffffff;
    border-color:  #cb2027;
    
  }
  .pinterest:hover {
    background-color: #ffffff;
    color:  #cb2027;
  }

  /* Github Button Styling */
 .github {
    font-size: 22px;
    padding-top: 9px;
    background-color: #4183c4;
    color: #ffffff;
    border-color: #4183c4;
    
  }
  .github:hover {
    background-color: #ffffff;
    color: #4183c4;
  }

  .followus
{
  color: white;
  font-size: 42px;
}
@import url('https://fonts.googleapis.com/css?family=Numans');

.form-body{
  background-image: url('/static/backdrop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  font-family: 'Numans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: left;
  

  }

.container-form{
height: 100%;
align-content: center;
}

.card-log{
margin-top: auto;
margin-bottom: auto;
background-color: rgba(0,0,0,0.5) !important;
}
.card-sign{
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(0,0,0,0.5) !important;
  }


.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: auto;
}

.login_btn:hover{
color: white;
background-color: #641b1b;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.errorlist
    {
        color:white;
    }

table {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  padding: 50px;
  
  
} 

th,td {
  border: 1px solid black;
  padding: 20px;  
  

}
    
.table.d 
{
  table-layout: fixed;
  width: 100%;
  }

  
  .center{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width: 600px) {
    .card-log{
      width: auto;
      }
      .card-sign{
     
        width: auto;
     
        }
      
  }