{% extends 'base.html' %}


{% block title %}

  Sign up 

{% endblock title %}


{% block body %}

<div class="form-body ">
<div class="container-form">
	<div class="d-flex justify-content-center h-100 ">
		<div class="card-sign ">
			<div class="card-header ">
				<h3  class="d-flex justify-content-center">Signup</h3>
      </div>
			<div class="card-body">
				<form action="http://10.0.0.129:5001/user/login" method="POST">
          {% csrf_token %}
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						{{ frm.username }}    
					</div>
          <div>
             {{ frm.username.errors }}
             </div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						  {{ frm.first_name }}    
					</div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						  {{ frm.last_name }}    
					</div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						  {{ frm.email }}    
					</div>
          <div>
          {{ frm.email.errors }}
          </div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						{{ frm.password }}
					</div>
          <div>
            {{ frm.password.errors }}
          </div>
          <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						{{ frm.confirm_password }}
					</div>
          <div>
            {{ frm.confirm_password.errors }}
          </div>
					<div class="form-group">
						<input type="submit" value="Sign up" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Already have an account?<a href="/login">Login</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div> 

{% endblock body %}
