{% extends 'base.html' %}

{% load static %}

{% block title %}

  URL Shortener 

{% endblock title %}


{% block body %}

  <h1 class="hello"> URL Shortener</h1>

  <div class="container py-5" style="width:60%;">
<form method="post" action="">
{% csrf_token %}
  <div class="form-group">
    <center><h1> Enter URL</h1></center>
    <input type="text" class="form-control"  name="url" placeholder="Enter URL" required>
  </div>
  <center>
  <button type="submit" class="btn login_btn">Short</button>
  </form>
  </center>
</div>

<div class="container py-5">
{% if url %}
    <div id="heading">
    <center><h2>Shortend URL is here:</h2><br> 
    <input type="text" value="{{url}}" id="myInput" class="form-control" style="width:30%;">
    <br>
    <button class="btn btn-outline-primary" onclick="myFunction()">Copy URL</button>
    </div>

{% endif %}

</div>
<script>
function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");
}
</script>
{% endblock body %}
